* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    font-family: Roboto, serif;
    color: #000000;
}

.item1 {
    grid-area: header;
    height: 100px;
    padding: 20px;
    font-weight: bold;
    font-size: 50px;
}

.item2 {
    grid-area: header2;
}

.item2, .item6 {
    height: 76px;
    font-size: 40px;
    font-weight: normal;
    padding: 15px
}

.item7, .item8 {
    height: 76px;
    font-size: 50px;
    font-weight: normal;
    padding: 5px
}

.item3 {
    grid-area: rock;
}

.item4 {
    grid-area: paper;
    margin: auto;
}

.item5 {
    grid-area: scissors;
}

.item6 {
    grid-area: header3;
}

.item7 {
    grid-area: cpu;
}

.item8 {
    grid-area: you;
}

.item9 {
    grid-area: round;
    height: 256px;
    width: 340px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
}

.item10 {
    grid-area: cpu_choice;

}

.item11 {
    grid-area: your_choice;
}

.hand {
    height: 160px;
    width: 212px;
    font-size: 150px;
}

button {
    background-color: #DEDEDE;
    border: 2px solid #4F4F4F;
    cursor: pointer;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    outline: none;
}

button:hover {
    background-color: #FFD458
}

button:active {

    background-color: #FFD458;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    transform: translateY(4px);

}

.hand span {
    display: inline-block;
    position: relative;
    right: 15px;
    bottom: 25px;
    transform: rotate(-90deg);
}

.computer {
    transform: scaleX(-1);
}

.score {
    height: 76px;
    width: 212px;
}

.gametext {
    height: 156px;
    width: 280px;
    background-color: white;
    font-size: 16px;
    font-weight: normal;
    margin: 20px auto 5px;
    padding-top: 5px;
}

.grid-container {
    height: 820px;
    width: 1000px;
    margin: 20px auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    display: grid;
    justify-content: space-between;
    grid-template-areas: 'header header header' 'header2 header2 header2' 'rock paper scissors' 'header3 header3 header3' 'cpu round you' 'cpu_choice round your_choice';
    grid-row-gap: 20px;
    background-color: #C4C4C4;
    padding: 38px 100px;
}

.grid-container > div {
    background-color: #DEDEDE;
    border: 2px solid #4F4F4F;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
}